    /* Remove the navbar's default margin-bottom and rounded borders */     
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    /* Add a gray background color and some padding to the footer */
    
        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height:200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none; 
            }
        }
      /* MODAL */
        .modal-dialog {
            width: 400px;
        }
      /*.modal-content{
          
          background-color: #efcfb4;
 
      }*/
        .modal-header {
            border: none;
        }
        .modal-footer {
            border: none;
        }
        .text-left{
            margin-left: 35px;
        }
        .text-right{
            margin-left: 50px;
        }
        .img-responsive:hover{
            opacity: 0.5;
            transition: .3s;
        }
        a:hover{      
            text-decoration: none;
        }
        pre{
            font-family: georgia;
        }   

    /* CONNECT */
.social a{
    font-size: 3em;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-instagram{
    color: #517fa8;
}
.fa-youtube{
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}

    /* FOOTER */ 
footer{
    background-color: #F3C4BF;
    color: #d5d5d5;
    padding-top: 2rem
}

hr.light{
    border-top: 1px solid, #BC7B6A;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/* Link Hover */

footer a{
  display: block;
  color: darkgray;
  text-decoration: none;
  position: relative;
}
footer a::after{
  content: "";
  background: white;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
	transition: all .3s cubic-bezier(0.445, 1.05, 0.55, 0.95);
}

footer a:hover::after{
	height: calc(100% + 8px)
}
hr.light-100{
    border-top: 1px solid, #BC7B6A;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

h5{
    cursor: default;
}
p{
    cursor: default;
}

            